<div class="row animated fadeIn fast">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <input type="text" class="form-control" placeholder="Escribe para buscar un usuario..."
                    (keyup)="buscar( txtTermino.value )" #txtTermino />
            </div>
        </div>
    </div>
</div>

<div class="row animated fadeIn fast" *ngIf="cargando">
    <div class="col-12">

        <div class="alert alert-info text-center">
            <h4 class="alert-heading">Cargando...</h4>
            <i class="fa fa-spin fa-refresh fa-2x"></i>
            <p class="mb-0">Por favor espere</p>
        </div>

    </div>
</div>


<div class="row animated fadeIn fast" *ngIf="!cargando">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <div class="row">
                    <div class="col-6">
                        <h4 class="card-title">
                            Total de registros ({{totalRegistrosCargados == null ? 0 :
                            totalRegistrosCargados}} / {{ totalRegistros }})
                        </h4>
                        <h6 class="card-subtitle">Registros echos en mi aplicación</h6>
                    </div>
                    <div class="col-6">
                        <span class="label label-info">C/R</span> CREADO POR REGISTRO <br>
                        <span class="label label-info">N/C</span> NO HAY CAMBIOS <br>
                        <span class="label label-info">N/A</span> NO APLICA <br>
    
                    </div>
                </div>
                <br>
                <div class="table-responsive">
                    <table class="table table-bordered">


                        <thead>
                            <tr>
                                <th>Responsable</th>
                                <th>Ruta</th>
                                <th class="w100">Accion</th>
                                <th>Nuevo</th>
                                <th>Cambiado</th>
                                <th>Fecha</th>
                                <th class="text-nowrap w100">Acciones</th>
                            </tr>
                        </thead>


                        <tbody>
                            <tr *ngFor="let registro of registros">
                                <td class="text-center">{{ registro.causer_id == null ? 'C/R' : registro.causer_id }}</td>
                                <td class="text-center">{{ registro.log_name }}</td>
                                <td class="text-center">{{registro.description}}</td>


                                <td class="text-center">
                                    <div *ngIf="registro.properties.hasOwnProperty('attributes')">


                                        <div *ngIf="registro.log_name == 'user'">
                                            <span *ngIf="registro.description == 'created'" class="label label-success">{{registro.properties.attributes.name}}</span>
                                            
                                            <span style="margin-right: 5px;" *ngFor="let item of registro.properties.attributes | keyvalue">
                                                <span *ngIf="registro.description == 'updated' && registro.properties.attributes[item.key] != registro.properties.old[item.key]" class="label label-light-info">
                                                    {{
                                                        item.value
                                                    }}
                                                </span>
                                            </span>
                                            
                                            <span *ngIf="registro.description == 'deleted'" class="label label-danger">{{registro.properties.attributes.name}}</span>
                                        </div>

                                        <div *ngIf="registro.log_name == 'roles'">
                                            <span *ngIf="registro.description == 'created'" class="label label-success">{{registro.properties.attributes.name}}</span>
                                            
                                            <span style="margin-right: 5px;" *ngFor="let item of registro.properties.attributes | keyvalue">
                                                <span *ngIf="registro.description == 'updated' && registro.properties.attributes[item.key] != registro.properties.old[item.key]" class="label label-light-info">
                                                    {{
                                                        item.value
                                                    }}
                                                </span>
                                            </span>
                                            
                                            <span *ngIf="registro.description == 'deleted'" class="label label-danger">{{registro.properties.attributes.name}}</span>
                                        </div>

                                        <div *ngIf="registro.log_name == 'addresses'">
                                            <span *ngIf="registro.description == 'created'" class="label label-success">{{registro.properties.attributes.name}}</span>
                                            
                                            <span style="margin-right: 5px;" *ngFor="let item of registro.properties.attributes | keyvalue">
                                                <span *ngIf="registro.description == 'updated' && registro.properties.attributes[item.key] != registro.properties.old[item.key]" class="label label-light-info">
                                                    {{
                                                        item.value != null ? item.value : 'Valor sin modificasiones'
                                                    }}
                                                </span>
                                            </span>
                                            
                                            <span *ngIf="registro.description == 'deleted'" class="label label-danger">{{registro.properties.attributes.name}}</span>
                                        </div>

                                        <div *ngIf="registro.log_name == 'locations'">
                                            <span *ngIf="registro.description == 'created'" class="label label-success">{{registro.properties.attributes.name}}</span>
                                            
                                            <span style="margin-right: 5px;" *ngFor="let item of registro.properties.attributes | keyvalue">
                                                <span *ngIf="registro.description == 'updated' && registro.properties.attributes[item.key] != registro.properties.old[item.key]" class="label label-light-info">
                                                    {{
                                                        item.value != null ? item.value : 'Valor sin modificasiones'
                                                    }}
                                                </span>
                                            </span>
                                            
                                            <span *ngIf="registro.description == 'deleted'" class="label label-danger">{{registro.properties.attributes.name}}</span>
                                        </div>

                                        <div *ngIf="registro.log_name == 'directions'">
                                            <span *ngIf="registro.description == 'created'" class="label label-success">{{registro.properties.attributes.name}}</span>
                                            
                                            <span style="margin-right: 5px;" *ngFor="let item of registro.properties.attributes | keyvalue">
                                                <span *ngIf="registro.description == 'updated' && registro.properties.attributes[item.key] != registro.properties.old[item.key]" class="label label-light-info">
                                                    {{
                                                        item.value != null ? item.value : 'Valor sin modificasiones'
                                                    }}
                                                </span>
                                            </span>
                                            
                                            <span *ngIf="registro.description == 'deleted'" class="label label-danger">{{registro.properties.attributes.name}}</span>
                                        </div>

                                        <div *ngIf="registro.log_name == 'statuses'">
                                            <span *ngIf="registro.description == 'created'" class="label label-success">{{registro.properties.attributes.name}}</span>
                                            
                                            <span style="margin-right: 5px;" *ngFor="let item of registro.properties.attributes | keyvalue">
                                                <span *ngIf="registro.description == 'updated' && registro.properties.attributes[item.key] != registro.properties.old[item.key]" class="label label-light-info">
                                                    {{
                                                        item.value != null ? item.value : 'Valor sin modificasiones'
                                                    }}
                                                </span>
                                            </span>
                                            
                                            <span *ngIf="registro.description == 'deleted'" class="label label-danger">{{registro.properties.attributes.name}}</span>
                                        </div>

                                        <div *ngIf="registro.log_name == 'orders'">
                                            <span *ngIf="registro.description == 'created'" class="label label-success">{{registro.properties.attributes.name}}</span>
                                            
                                            <span style="margin-right: 5px;" *ngFor="let item of registro.properties.attributes | keyvalue">
                                                <span *ngIf="registro.description == 'updated' && registro.properties.attributes[item.key] != registro.properties.old[item.key]" class="label label-light-info">
                                                    {{
                                                        item.value != null ? item.value : 'Valor sin modificasiones'
                                                    }}
                                                </span>
                                            </span>
                                            
                                            <span *ngIf="registro.description == 'deleted'" class="label label-danger">{{registro.properties.attributes.name}}</span>
                                        </div>

                                        <div *ngIf="registro.log_name == 'dimensions'">
                                            <span *ngIf="registro.description == 'created'" class="label label-success">{{registro.properties.attributes.name}}</span>
                                            
                                            <span style="margin-right: 5px;" *ngFor="let item of registro.properties.attributes | keyvalue">
                                                <span *ngIf="registro.description == 'updated' && registro.properties.attributes[item.key] != registro.properties.old[item.key]" class="label label-light-info">
                                                    {{
                                                        item.value != null ? item.value : 'Valor sin modificasiones'
                                                    }}
                                                </span>
                                            </span>
                                            
                                            <span *ngIf="registro.description == 'deleted'" class="label label-danger">{{registro.properties.attributes.name}}</span>
                                        </div>

                                    </div>
                                    <div *ngIf="!registro.properties.hasOwnProperty('attributes')">
                                        Se desconoce lo echo en el registro!
                                    </div>
                                </td>

                                <td class="text-center">
                                    <div *ngIf="registro.properties.hasOwnProperty('old')">

                                        <div *ngIf="registro.log_name == 'user'">
                                            
                                            <span style="margin-right: 5px;" *ngFor="let item of registro.properties.old | keyvalue">
                                                <span *ngIf="registro.description == 'updated' && registro.properties.attributes[item.key] != registro.properties.old[item.key]" class="label label-light-danger">
                                                    {{
                                                        item.value != null ? item.value : 'Vacio antes del cambio'
                                                    }}
                                                </span>
                                            </span>                                            

                                        </div>

                                        <div *ngIf="registro.log_name == 'roles'">
                                            
                                            <span style="margin-right: 5px;" *ngFor="let item of registro.properties.old | keyvalue">
                                                <span *ngIf="registro.description == 'updated' && registro.properties.attributes[item.key] != registro.properties.old[item.key]" class="label label-light-danger">
                                                    {{
                                                        item.value != null ? item.value : 'Vacio antes del cambio'
                                                    }}
                                                </span>
                                            </span>                                            

                                        </div>

                                        <div *ngIf="registro.log_name == 'addresses'">
                                            
                                            <span style="margin-right: 5px;" *ngFor="let item of registro.properties.old | keyvalue">
                                                <span *ngIf="registro.description == 'updated' && registro.properties.attributes[item.key] != registro.properties.old[item.key]" class="label label-light-danger">
                                                    {{
                                                        item.value != null ? item.value : 'Vacio antes del cambio'
                                                    }}
                                                </span>
                                            </span>                                            

                                        </div>

                                        <div *ngIf="registro.log_name == 'directions'">
                                            
                                            <span style="margin-right: 5px;" *ngFor="let item of registro.properties.old | keyvalue">
                                                <span *ngIf="registro.description == 'updated' && registro.properties.attributes[item.key] != registro.properties.old[item.key]" class="label label-light-danger">
                                                    {{
                                                        item.value != null ? item.value : 'Vacio antes del cambio'
                                                    }}
                                                </span>
                                            </span>                                            

                                        </div>

                                        <div *ngIf="registro.log_name == 'locations'">
                                            
                                            <span style="margin-right: 5px;" *ngFor="let item of registro.properties.old | keyvalue">
                                                <span *ngIf="registro.description == 'updated' && registro.properties.attributes[item.key] != registro.properties.old[item.key]" class="label label-light-danger">
                                                    {{
                                                        item.value != null ? item.value : 'Vacio antes del cambio'
                                                    }}
                                                </span>
                                            </span>                                            

                                        </div>

                                        <div *ngIf="registro.log_name == 'statuses'">
                                            
                                            <span style="margin-right: 5px;" *ngFor="let item of registro.properties.old | keyvalue">
                                                <span *ngIf="registro.description == 'updated' && registro.properties.attributes[item.key] != registro.properties.old[item.key]" class="label label-light-danger">
                                                    {{
                                                        item.value != null ? item.value : 'Vacio antes del cambio'
                                                    }}
                                                </span>
                                            </span>                                            

                                        </div>

                                        <div *ngIf="registro.log_name == 'orders'">
                                            
                                            <span style="margin-right: 5px;" *ngFor="let item of registro.properties.old | keyvalue">
                                                <span *ngIf="registro.description == 'updated' && registro.properties.attributes[item.key] != registro.properties.old[item.key]" class="label label-light-danger">
                                                    {{
                                                        item.value != null ? item.value : 'Vacio antes del cambio'
                                                    }}
                                                </span>
                                            </span>                                            

                                        </div>

                                        <div *ngIf="registro.log_name == 'dimensions'">
                                            
                                            <span style="margin-right: 5px;" *ngFor="let item of registro.properties.old | keyvalue">
                                                <span *ngIf="registro.description == 'updated' && registro.properties.attributes[item.key] != registro.properties.old[item.key]" class="label label-light-danger">
                                                    {{
                                                        item.value != null ? item.value : 'Vacio antes del cambio'
                                                    }}
                                                </span>
                                            </span>                                            

                                        </div>

                                    </div>
                                    <div *ngIf="!registro.properties.hasOwnProperty('old')">
                                        N/C
                                    </div>
                                </td>


                                <td class="text-center">
                                    <span class="label label-light-info">{{registro.updated_at | date}}</span>
                                </td>

                                <td class="text-nowrap text-center">
                                    <a data-toggle="tooltip" 
                                        *ngIf="registro.description != 'created'"
                                        data-original-title="Borrar" style="margin: 5px  ;" class="cursor"
                                        (click)="restaurarRegistro(registro)">
                                        <i class="mdi mdi-backup-restore"></i>
                                    </a>
                                    <span *ngIf="registro.description == 'created'">
                                        N/A
                                    </span>
                                </td>
                            </tr>

                            <tr *ngIf="registros.length == 0" class="text-center">
                                <td colspan="6">
                                    No hay datos que cargar
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>

                <div *ngIf="txtTermino.value.length === 0 || registros.length == 0" class="text-center">

                    <!-- <div *ngFor="let paginate of page">
                        <button *ngIf="paginate.label == '&laquo; Previous'"  class="btn btn-secondary">{{paginate.label}}</button>
                    </div> -->
                    <button (click)="cambiarPagina(-1)" class="btn btn-secondary">Anteriores</button>
                    &nbsp;
                    <button (click)="cambiarPagina(1)" class="btn btn-secondary">Siguientes</button>
                </div>

            </div>
        </div>
    </div>
</div>