<div class="row">


    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Roles</h4>
                <h6 class="card-subtitle">Roles para usuarios! 
                    <button (click)="nuevoRol()" style="display: inline-block; margin-left: 5px;" class="btn btn-success btn-circle btn-lg"><i class="fa fa-plus"></i> </button>
                </h6>
                
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <!-- <th>id</th> -->
                                <th class="text-center">Nombre</th>
                                <th class="text-center">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let rol of roles" class="cursor">
                                <!-- <td (click)="cargarRole(rol)" class="text-center">
                                    {{rol.id}}
                                </td> -->
                                <td class="text-center" (click)="cargarRole(rol)">{{rol.name}}</td>

                                <td class="text-nowrap text-center">                                  
                                    <a data-toggle="tooltip" 
                                        *ngIf="rol.id != 1"
                                        data-original-title="Borrar"
                                        style="margin: 5px  ;"
                                        class="cursor"
                                        (click)="eliminarRole(rol)">
                                        <i class="fa fa-close text-danger"></i> 
                                    </a>
                                    <a data-toggle="tooltip" 
                                        data-original-title="Editar"
                                        style="margin: 5px  ;"
                                        class="cursor"
                                        (click)="cargarRole(rol)">
                                        <i class="fa fa-pencil text-info"></i> 
                                    </a>
                                </td>

                                
                            </tr>
                            
                            <!-- <tr *ngIf="usuarios.length == 0" class="text-center">
                                <td colspan="6">
                                    No hay datos que cargar
                                </td>
                            </tr> -->
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>


    <div class="col-md-12">
        <div class="card">
            <form [formGroup]="form" (ngSubmit)="submit()" class="card-body p-b-0">
                <!-- <h4 class="card-title">Permisos</h4> -->
                <div class="table-responsive">
                    <div class="row">
                        <div class="col-12 row">
                            <div class="col-6">
                                <input  type="search" class="form-control" formControlName="role" (change)="checkNewRole()" [placeholder]="rolID == 'nuevo' || rolID == '' ? 'Escribir nuevo rol' : '' ">
                            </div>
                            <div class="col-6">
                                <button type="submit" class="btn btn-success btn-circle btn-lg"       *ngIf="!form.invalid" [disabled]="form.invalid"><i class="ti-save"></i></button>
                                <button (click)="nuevoRol()" class="btn btn-danger btn-circle btn-lg" *ngIf="!form.invalid" [disabled]="form.invalid"><i class="ti-close"></i></button>
                            </div>
                        </div>

                    </div>
                    <br>
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th class="text-center">permisos</th>
                            </tr>
                        </thead>
                        <tbody class="row">

                            <tr class="col-3" formArrayName="permisionsForm"  *ngFor="let permission of ordersFormArray.controls; let i = index">
                                <!-- <div class=" "> -->
                                    <!-- <div class="col-3"> -->
                                        <td class="">
                                            <input id="{{permissions[i].name}}" type="checkbox" [formControlName]="i" class="check" data-checkbox="icheckbox_square-red">
                                            <label for="{{permissions[i].name}}">{{permissions[i].description}}</label>
                                        </td>
                                    <!-- </div> -->
                                <!-- </div> -->
                                
                            </tr>

                        </tbody>
                    </table>
                </div>
        </form>
    </div>

<!-- 
    <div class="col-md-12">
        <div class="card">
            <div class="card-body p-b-0">
                <h4 class="card-title">Permisos</h4>
                <h6 class="card-subtitle">Permisos del rol {{rol}}</h6> </div>
                <div class="table-responsive">
                    <div class="form-group">
                        <label>Checkbox &amp; Radio List</label>
                        <div class="input-group">
                            <ul class="icheck-list">
                                <li>
                                    <div class="icheckbox_line-blue checked">
                                        <input type="checkbox" class="check" data-checkbox="icheckbox_line-red" data-label="Checkbox 1" style="position: absolute; opacity: 0;"><div class="icheck_line-icon"></div>Checkbox 1<ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins>
                                    </div>
                                </li>
                                <li>
                                    <input type="checkbox" class="check" id="square-checkbox-2" checked data-checkbox="icheckbox_square-red">
                                    <label for="square-checkbox-2">Checkbox 2</label>
                                </li>
                                <li>
                                    <input type="checkbox" class="check" id="square-checkbox-disabled" disabled data-checkbox="icheckbox_square-red">
                                    <label for="square-checkbox-disabled">Disabled</label>
                                </li>
                                <li>
                                    <input type="checkbox" class="check" id="square-checkbox-disabled-checked" checked disabled data-checkbox="icheckbox_square-red">
                                    <label for="square-checkbox-disabled-checked">Disabled &amp; checked</label>
                                </li>
                            </ul>
                            <ul class="icheck-list">
                                <li>
                                    <input type="radio" class="check" id="square-radio-1" name="square-radio" data-radio="iradio_square-red">
                                    <label for="square-radio-1">Radio button 1</label>
                                </li>
                                <li>
                                    <input type="radio" class="check" id="square-radio-2" name="square-radio" checked data-radio="iradio_square-red">
                                    <label for="square-radio-2">Radio button 2</label>
                                </li>
                                <li>
                                    <input type="radio" class="check" id="square-radio-disabled" disabled data-radio="iradio_square-red">
                                    <label for="square-radio-disabled">Disabled</label>
                                </li>
                                <li>
                                    <input type="radio" class="check" id="square-radio-disabled-checked" checked disabled data-radio="iradio_square-red">
                                    <label for="square-radio-disabled-checked">Disabled &amp; checked</label>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
        </div>
    </div> -->
</div>