<div class="row">
    <div class="col-md-4">
        <span class="label label-info cursor" (click)="pathSeleceted = null; obtenerMiUbicacionActual();">Obtener mi ubicacion actual</span>
        <ul class="list-group">

                <li [class]="{'list-group-item': true, 'cursor': true, 'selectedBox': path == pathSeleceted  ? true : false, 'label-themecolor': path == pathSeleceted ? true : false }" *ngFor="let path of domicilios" (click)="path.lat == null ? location = false : location = true; domiMap(path);">
                        {{path.name}}
                        <span (click)="editar(path)" class="cursor badge badge-info ml-auto"><i class="mdi mdi-pencil"></i></span>  
                        <span (click)="eliminar(path)" class="cursor badge badge-danger ml-auto"><i class="mdi mdi-close"></i></span>
                        <br>        
                        <span class="label label-danger" style="font-size: 10px;" *ngIf="path.lng == null || path.lat == null">Esta direccion no esta marcada en el mapa!</span>
                </li>
    
                   


                <i (click)="newMarker()" class="mdi mdi-map-marker-plus cursor"></i>
                <span class="cursor " style="color: #3485fd;" (click)="abrirModal('nuevo')"> <i class="mdi mdi-plus"></i> Agregar dirección </span>
            <!-- <span class="cursor " style="color: #3485fd;" (click)="newMarker()"> <i class="mdi mdi-map-marker-plus"></i> Agregar marcador </span> -->
        </ul>
    </div>

    <div class="col-md-8">
        <!-- <h4 class="card-title">Disabled items</h4> -->
        <div id="mapa" style="width: 100%; height: 450px;">
        </div>
    </div>
</div>