<!-- ============================================================== -->
<!-- Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->
<aside class="left-sidebar">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <li class="user-profile">
                    <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false">
                        <!-- <img [src]="usuario.imagenUrl" alt="user" /> -->
                        <!-- <span class="hide-menu">{{ usuario.nombre }} </span> -->
                        <!-- <img src="./assets/images/users/1.jpg" alt="user" class="profile-pic" /> -->
                        <span class="hide-menu">{{usuario.name}}</span>
                    </a>
                    <ul aria-expanded="true" class="collapse">
                        <li>
                            <a  routerLink="/direcciones">
                                <i class="mdi mdi-map-marker-multiple"></i>
                                Mis direcciones
                            </a>
                        </li>
                        <li>
                            <a  routerLink="/pedidos">
                                <i class="mdi mdi-library-books"></i>
                                Mis pedidos
                            </a>
                        </li>
                        <li>
                            <a  routerLink="/favoritos">
                                <i class="mdi mdi-heart-outline"></i>
                                Mis favoritos
                            </a>
                        </li>
                        <li>
                            <a  routerLinkActive="active" routerLink="/perfil">
                                <i class="ti-user"></i>
                                Mi Perfil 
                            </a>
                        </li>
                        <li (click)="cerrarSesion()">
                            <a class="cursor">
                                <i class="mdi mdi-exit-to-app"></i>
                                Logout
                            </a>
                        </li>
                        <!-- <li><a href="javascript:void()">My Balance</a></li> -->
                        <!-- <li><a href="javascript:void()">Inbox</a></li> -->
                    </ul>
                </li>
                <li class="nav-devider"></li>
                <li class="nav-small-cap">PERSONAL</li>

                <li *ngFor="let item of sidebarService.menu"> 
                    <a *ngIf="item.submenu.length != 0" class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false">
                        <i [class]="item.icono"></i>
                        <span class="hide-menu"> 
                            {{ item.titulo }} 
                            <span class="label label-rouded label-themecolor pull-right">
                                {{ item.submenu.length }}
                            </span>
                        </span>
                    </a>

                    <a *ngIf="item.submenu.length == 0" class="waves-effect waves-dark" [routerLink]="item.url"
                    >
                        <i [class]="item.icono"></i>
                        <span class="hide-menu"> 
                            {{ item.titulo }}
                        </span>
                    </a>

                    <ul aria-expanded="false" class="collapse" *ngIf="item.submenu.length != 0">
                        <li *ngFor="let subMenuItem of item.submenu">
                            <a [routerLink]="subMenuItem.url"
                               routerLinkActive="active"
                               [routerLinkActiveOptions]="{ exact: true }">
                        <i class="mdi mdi-window-maximize"></i>
                         {{ subMenuItem.titulo }} </a>
                        </li>
                    </ul>
                </li>
                
            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>
<!-- ============================================================== -->
<!-- End Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->




