<div class="fondo-modal oculto " [class.oculto]="modalDomicilioService.ocultarModal">


    <div id="responsive-modal" class="modal fade show bounceInLeft animated" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
        style="display: block;">
        <div class="modal-dialog">
            <form [formGroup]="domicilioForm" (ngSubmit)="enviarMiDomicilio()" class="modal-content">
                <div class="modal-header text-center">
                    <h4 class="modal-title">Gestio de mis domicilios</h4>
                    <button type="button" class="cursor" (click)="cerrarModal()" class="close" data-dismiss="modal"
                        aria-hidden="true">×</button>
                </div>
                <div class="modal-body" style="overflow: scroll; height: 400px !important;">

                    <div>

                        <div class="form-group">
                            <label for="message-text" 
                                class="control-label">Nombre para indentificar tu domicilio:</label>
                            <input type="text" class="form-control" formControlName="nombre" [value]="modalDomicilioService.domicilio.name || '' ">
                        </div>

                        <div class="form-group">
                            <label for="recipient-name" class="control-label">Departamento:</label>
                            <!-- <ng-select formControlName="departamento" (change)="cargarCiudades(domicilioForm.get('departamento').value)">
                                <ng-option *ngFor="let departamento of departamentos" [value]="departamento.id">{{departamento.department}}</ng-option>
                             </ng-select> -->
                            <select formControlName="departamento" [value]="modalDomicilioService.domicilio.department_id || ''"
                                (change)="cargarCiudades(domicilioForm.get('departamento').value)" class="form-control">
                                <option *ngFor="let depa of departamentos" [value]="depa.id">
                                    {{depa.department}}
                                </option>
                            </select>

                        </div>

                        <div class="form-group">
                            <label for="recipient-name" class="control-label">Ciudad:</label>
                            <select formControlName="ciudad" class="form-control" [value]="modalDomicilioService.domicilio.town_id || ''">
                                <option *ngFor="let town of ciudades" [value]="town.id">{{town.towns}}</option>
                            </select>
                            <!-- <ng-select >
                                <ng-option *ngFor="let town of ciudades" [value]="town.id">{{town.towns}}</ng-option>
                             </ng-select> -->
                        </div>

                        <div class="form-group">
                            <label for="message-text"class="control-label">Direccion como la
                                conoces:</label>
                            <input type="address" class="form-control" formControlName="direccion" [value]="modalDomicilioService.domicilio.address || ''">
                        </div>

                        <div class="form-group">
                            <label for="message-text" class="control-label">Barrio:</label>
                            <input type="text" formControlName="barrio" class="form-control" [value]="modalDomicilioService.domicilio.neighborhood || ''">
                        </div>

                        <div class="row">

                            <div class="form-group col-6">
                                <label for="message-text"  class="control-label">Número interior /
                                    piso:</label>
                                <input type="text" class="form-control" formControlName="textPiso" [value]="modalDomicilioService.domicilio.apartment_number || ''">
                            </div>

                            <div class="form-group col-4 text-rigth">
                                <div class="checkbox checkbox-primary ">

                                    <input id="checkbox" type="checkbox" formControlName="piso" [value]="modalDomicilioService.domicilio.apartment_number != '' ? 'on' : ''"
                                    (change)="pisoCheck($event)"
                                        style="margin-top: 40px !important; position: relative !important;">
                                    <label for="checkbox">No tengo</label>

                                </div>
                            </div>

                        </div>

                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" (click)="cerrarModal()" class="btn btn-default waves-effect"
                        data-dismiss="modal">Cancelar</button>
                    <button type="submit"
                        class="btn btn-danger waves-effect waves-light">Cargar domicilio</button>
                </div>
            </form>
        </div>
    </div>


</div>