<!-- Row -->
<div class="row">
    <div class="col-12 m-t-30 text-center">
        <!-- Card -->
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">PROXIMAMENTE</h4>
                <p class="card-text">Subscribete para estar atento a nuevas actualizaciones.</p>
                <input class="form-control" placeholder="Correo electronico">
                <a href="#" class="btn btn-success btn-circle btn-lg" ><i class="mdi mdi-telegram"></i></a>
            </div>
        </div>
        <!-- Card -->
    </div>
</div>