.leaderboard {
    /* max-width: 490px; */
    width: 100%;
    border-radius: 12px;
  }
  .leaderboard header {
    --start: 15%;
    height: 130px;
    background-image: repeating-radial-gradient(circle at var(--start), transparent 0%, transparent 10%, rgba(54, 89, 219, 0.33) 10%, rgba(54, 89, 219, 0.33) 17%), linear-gradient(to right, #5b7cfa, #3659db);
    color: #fff;
    position: relative;
    border-radius: 12px 12px 0 0;
    overflow: hidden;
  }
  .leaderboard header .leaderboard__title {
    position: absolute;
    z-index: 2;
    top: 50%;
    right: calc(var(--start) * .75);
    transform: translateY(-50%);
    text-transform: uppercase;
    margin: 0;
  }
  .leaderboard header .leaderboard__title span {
    display: block;
  }
  .leaderboard header .leaderboard__title--top {
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 6.5px;
  }
  .leaderboard header .leaderboard__title--bottom {
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 3.55px;
    opacity: 0.65;
    transform: translateY(-2px);
  }
  .leaderboard header .leaderboard__icon {
    fill: #fff;
    opacity: 0.35;
    width: 50px;
    position: absolute;
    top: 50%;
    left: var(--start);
    transform: translate(-50%, -50%);
  }
  .leaderboard__profiles {
    background-color: #fff;
    border-radius: 0 0 12px 12px;
    padding: 15px 15px 20px;
    display: grid;
    row-gap: 8px;
  }
  .leaderboard__profile {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    align-items: center;
    padding: 10px 30px 10px 10px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 5px 7px -1px rgba(51, 51, 51, 0.23);
    cursor: pointer;
    transition: transform 0.25s cubic-bezier(0.7, 0.98, 0.86, 0.98), box-shadow 0.25s cubic-bezier(0.7, 0.98, 0.86, 0.98);
    background-color: #fff;
  }
  .leaderboard__profile:hover {
    transform: scale(1.2);
    box-shadow: 0 9px 47px 11px rgba(51, 51, 51, 0.18);
  }
  .leaderboard__picture {
    max-width: 100%;
    width: 60px;
    border-radius: 50%;
    box-shadow: 0 0 0 10px #ebeef3, 0 0 0 22px #f3f4f6;
  }
  .leaderboard__name {
    color: #979cb0;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 0.64px;
    margin-left: 12px;
  }
  .leaderboard__value {
    color: #35d8ac;
    font-weight: 700;
    font-size: 34px;
    text-align: right;
  }
  .leaderboard__value > span {
    opacity: 0.8;
    font-weight: 600;
    font-size: 13px;
    margin-left: 3px;
  }
  
  .leaderboard {
    box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.4);
  }
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  .item-hints .hint::before{ 
    width: 8px;
    height: 8px;
    z-index: 2;
    -webkit-clip-path: polygon(50% 0,100% 50%,50% 100%,0 50%);
    clip-path: polygon(50% 0,100% 50%,50% 100%,0 50%);
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
  }
  
  @-webkit-keyframes home_hero_item_hints_glow {
    0% {
      -webkit-box-shadow: 0 0 30px 5px #48aa48;
      box-shadow: 0 0 30px 5px #48aa48
    }
    70% {
      -webkit-box-shadow: 0 0 70px 50px rgba(72, 170, 72, 0);
      box-shadow: 0 0 70px 50px rgba(72, 170, 72, 0)
    }
    100% {
      -webkit-box-shadow: 0 0 0 50px rgba(72, 170, 72, 0);
      box-shadow: 0 0 0 50px rgba(72, 170, 72, 0)
    }
  }
  @keyframes home_hero_item_hints_glow {
    0% {
      -webkit-box-shadow: 0 0 30px 5px #48aa48;
      box-shadow: 0 0 30px 5px #48aa48
    }
    70% {
      -webkit-box-shadow: 0 0 70px 50px rgba(72, 170, 72, 0);
      box-shadow: 0 0 70px 50px rgba(72, 170, 72, 0)
    }
    100% {
      -webkit-box-shadow: 0 0 0 50px rgba(72, 170, 72, 0);
      box-shadow: 0 0 0 50px rgba(72, 170, 72, 0)
    }
  }
  
  
  
  @-webkit-keyframes home_hero_item_hints_border {
    0%,
    100% {
      border-color: rgba(255, 255, 255, .6);
      -webkit-transform: translate(-50%, -50%) scale(.95);
      transform: translate(-0%, -0%) scale(.95)
    }
    50% {
      border-color: rgba(255, 255, 255, .3);
      -webkit-transform: translate(-50%, -50%) scale(1);
      transform: translate(-0%, -0%) scale(1)
    }
  }
  @keyframes home_hero_item_hints_border {
    0%,
    100% {
      border-color: rgba(255, 255, 255, .6);
      -webkit-transform: translate(-50%, -50%) scale(.95);
      transform: translate(-0%, -0%) scale(.95)
    }
    50% {
      border-color: rgba(255, 255, 255, .3);
      -webkit-transform: translate(-50%, -50%) scale(1);
      transform: translate(-0%, -0%) scale(1)
    }
  }
  
  .item-hints .hint-radius {
    background-color: rgba(255,255,255,0.1);
    border-radius: 50%;
    width: 250px;
    height: 250px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -125px 0 0 -125px;
    opacity: 0;
    visibility: hidden;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition-property: background-color,opacity,visibility,-webkit-transform;
    transition-property: background-color,opacity,visibility,-webkit-transform;
    transition-property: background-color,opacity,visibility,transform;
    transition-property: background-color,opacity,visibility,transform,-webkit-transform;
    -webkit-transition-duration: .5s;
    transition-duration: .5s;
    -webkit-transition-timing-function: ease,ease,ease,cubic-bezier(.5,0,0,1);
    transition-timing-function: ease,ease,ease,cubic-bezier(.5,0,0,1);
  }
  .item-hints .hint:hover .hint-radius {
    opacity: 1;
    visibility: visible;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  
  .item-hints .hint[data-position="1"] .hint-content {
    margin-top: -300px;
    left: 55%;
  }
  
  
  .item-hints .hint-content {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 10px !important;
    color: #000;
    width: 300px;
    position: absolute;
    z-index: 5;
    /* padding: 12px 0; */
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity .7s ease,visibility .7s ease;
    transition: opacity .7s ease,visibility .7s ease;
    pointer-events: none;
    color: #000;
    visibility: hidden;
    pointer-events: none
  }
  .item-hints .hint:hover .hint-content {
    color: #000;
    width: 300px;
    position: absolute;
    z-index: 5;
    padding: 12px 0;
    opacity: 1;
    visibility: visible !important;
    -webkit-transition: opacity .7s ease,visibility .7s ease;
    transition: opacity .7s ease,visibility .7s ease;
    pointer-events: none;
    color: #000;
    visibility: hidden;
    pointer-events: none
  }
  .item-hints .hint-content::before {
    width: 0px;
    bottom: 0;
    left: 0;
    content: '';
    background-color: #000;
    height: 1px;
    position: absolute;
    transition: width 0.4s;
  }
  .item-hints .hint:hover .hint-content::before {
    width: 180px;
    transition: width 0.4s;
  }
  .item-hints .hint-content::after {
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    /* -webkit-transform: rotate(-225deg); */
    /* transform: rotate(-225deg); */
    bottom: 0;
    left: 0;
    width: 80px;
    content: '';
    background-color: #000;
    height: 1px;
    position: absolute;
    opacity: 1;
    -webkit-transition: opacity .5s ease;
    transition: opacity .5s ease;
    transition-delay: 0s;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
  }
  .item-hints .hint:hover .hint-content::after {
    opacity: 1;
    visibility: visible;
  }
  .item-hints .hint[data-position="4"] .hint-content {
    bottom: 85px;
    left: 50%;
    margin-left: 56px;
  }