<div class="row animated fadeIn fast">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                
                <input type="text"
                        class="form-control"
                        style="display: inline-block; width: 93%;"
                        placeholder="Buscar por codigo..."
                        (keyup)="buscar( txtTermino.value )"
                        #txtTermino/>

                        <a routerLink="/dash-cli" style="display: inline-block; margin-left: 5px;" class="btn btn-success btn-circle btn-lg"><i class="fa fa-plus"></i> </a>

            </div>
        </div>
    </div>
</div> 

<div class="row animated fadeIn fast"
     *ngIf="cargando">
    <div class="col-12">
        
        <div class="alert alert-info text-center">
          <h4 class="alert-heading">Cargando</h4>
          <i class="fa fa-spin fa-refresh fa-2x"></i>
          <p class="mb-0">Por favor espere</p>
        </div>

    </div>
</div> 


<div class="row animated fadeIn fast" *ngIf="!cargando">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Total de pedidos ({{totalPedidosCargados}} / {{ totalPedidos }})</h4>
                <h6 class="card-subtitle">pedidos registrados en mi aplicación</h6>
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th class="w100">Codigo</th>
                                <th *ngIf="roleUserAuth == 1">Usuario</th>
                                <th>Ida y vuelta</th>
                                <th>Valor declarado</th>
                                <!-- <th>Estado</th> -->
                                <th class="w100">Fecha de actualizacion</th>
                                <th class="text-nowrap w100">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let pedido of pedidos" >
                                <td class="text-center">
                                    {{pedido.id || 'Error to get data.'}}
                                </td>
                                <td *ngIf="roleUserAuth == 1">{{ pedido.user.name || 'Error to get user'}}</td>
                                <td>{{ pedido.round_trip == 0 ? 'No requiere' : 'Requerido' }}</td>
                                <td>
                                    {{pedido.declared_value || 'Error to get data.' | currency}}
                                </td>
                                <!-- <td> -->
                                    <!-- pedido.status -->
                                    <!-- <span *ngIf="pedido.status" class="badge badge-info">{{ pedido.status.name || 'Error to get status'}}</span> -->
                                <!-- </td> -->
                                <td>{{ (pedido.updated_at || 'Error to get data.') | date }}</td>

                                <td class="text-nowrap text-center">                                  
                                    <!-- <a data-toggle="tooltip" 
                                        data-original-title="Borrar"
                                        style="margin: 5px  ;"
                                        class="cursor"
                                        (click)="eliminarUsuario(pedido)">
                                        <i class="fa fa-close text-danger"></i> 
                                    </a> -->
                                    <a data-toggle="tooltip" 
                                        data-original-title="Editar"
                                        style="margin: 5px  ;"
                                        class="cursor"
                                        (click)="editarUsuario(pedido)">
                                        <i class="fa fa-eye text-info"></i> 
                                    </a>
                                </td>
                               
                            </tr>
                            <!-- <tr>
                                <td colspan="6">
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" style="width: 75%; color:black;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">75%</div>
                                      </div>
                                </td>
                            </tr> -->
                            
                            <tr *ngIf="pedidos.length == 0" class="text-center">
                                <td colspan="6">
                                    No hay datos que cargar
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div *ngIf="pedidos.length > 5" class="text-center">
                   
                    <!-- <div *ngFor="let paginate of page">
                        <button *ngIf="paginate.label == '&laquo; Previous'"  class="btn btn-secondary">{{paginate.label}}</button>
                    </div> -->
                    <button (click)="cambiarPagina(-1)" class="btn btn-secondary">Anteriores</button>
                    &nbsp;
                    <button (click)="cambiarPagina(1)" class="btn btn-secondary">Siguientes</button>
                </div>

            </div>
        </div>
    </div>
</div>




