
<div class="row">

    <div class="col-lg-6 col-md-6" *ngIf="!preBuscador">

        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Informacion del pedido</h4>
                <div>




                    <!-- <div class="form-group">
                        <label>Departamento</label>
                        <ng-select [(ngModel)]="department"
                            (change)="cargarCiudades(20)">
                            <ng-option *ngFor="let departamento of departments" [value]="departamento.id">
                                {{departamento.department}}</ng-option>
                        </ng-select>
                    </div>




                    <div class="form-group">
                        <label>Ciudad</label>
                        <ng-select [(ngModel)]="town">
                            <ng-option *ngFor="let town of towns" [value]="town.id">{{town.towns}}</ng-option>
                        </ng-select>
                    </div> -->


                    <div class="form-group" *ngIf="roleUserAuth == 1">
                        <label>Repartidores</label>
                        <ng-select [(ngModel)]="repartidor">
                            <ng-option *ngFor="let repa of repartidores" [value]="repa.id">{{repa.name}}</ng-option>
                        </ng-select>
                    </div> 


                    <div class="form-group row ">

                       
                        

                        <!-- <label class="col-12">Dimensiones</label> -->

                        <select placeholder="Dimensiones" class=" col-11 form-control" [(ngModel)]="size" (change)="dnameF(size)">

                            <option *ngFor="let size of sizes" [value]="size.id">
                                {{size.name}}
                            </option>


                        </select>

                        <div class=" col-1 item-hints">
                            <div class="hint" data-position="1">

                                <i class="mdi mdi-information-outline" style="font-size: 25px;"></i>
                                <div class="hint-content">
                                    <div *ngFor="let size of sizes">
                                        <img [src]="size.img" alt="">
                                        <label class="label-themecolor">{{size.name}}</label>
                                        <p>{{size.description}}</p>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="form-group col-6">
                            <label for="declaracion">Valor declarado </label>
                            <input currencyMask type="text" class="form-control" id="declaracion" placeholder="$ 0"
                                [(ngModel)]="declared_value">
                            <span style="color: red;" *ngIf="declared_value < 1">El campo no puede estar vacio!</span>
                            <br>
                            <span style="color: red;" *ngIf="declared_value < 1000">El valor declarado debe superar los
                                $1000!</span>
                        </div>

                        <div class="form-group col-4 text-rigth">
                            <div class="checkbox checkbox-primary" style="margin-top: 40px;">

                                <input id="checkbox" type="checkbox" [(ngModel)]="round_trip    ">
                                <label for="checkbox">Ida y Vuelta</label>

                            </div>
                        </div>
                        <span style="font-size: 10px;">¿Cuanto es el valor monetario de lo que transportas?</span>
                    </div>

                </div>
            </div>
        </div>

    </div>

    <div class="col-md-6" *ngIf="preBuscador">
        <ul class="list-group">
            <span>Esta lista se quitara una vez escojas la direccion de preferencia o des click fuera del la
                casilla</span>
            <button type="reset" (click)="preBuscador = false;">Cancelar busqueda</button>
            <span class="label label-warning" *ngIf="addresSearch.length < 1">PUEDES ESCRIBIR LA DIRECCION SI NO FUE
                ENCONTRADA SIN PROBLEMAS</span>
            <br>
            <div *ngIf="buscando && addresSearch.length != 0" class="alert alert-info text-center">
                <h4 class="alert-heading">Cargando</h4>
                <i class="fa fa-spin fa-refresh fa-2x"></i>
                <p class="mb-0">Por favor espere</p>
            </div>


            <li [class]="{'list-group-item': true, 'cursor': true, 'selectedBox': path == pathSeleceted  ? true : false, 'label-themecolor': path == pathSeleceted ? true : false }"
                *ngFor="let path of addresSearch" (click)="seleccionar(path)">
                {{path.address}} // {{path.neighborhood}}
                <!-- <span  class="cursor badge badge-info ml-auto"><i class="mdi mdi-pencil"></i></span>  
                    <span  class="cursor badge badge-danger ml-auto"><i class="mdi mdi-close"></i></span>
                    <br>        
                    <span class="label label-danger" style="font-size: 10px;" *ngIf="path.lng == null || path.lat == null">Esta direccion no esta marcada en el mapa!</span> -->
            </li>




            <!-- <i (click)="newMarker()" class="mdi mdi-map-marker-plus cursor"></i> -->
            <!-- <span class="cursor " style="color: #3485fd;" (click)="abrirModal('nuevo')"> <i class="mdi mdi-plus"></i> Agregar dirección </span> -->
            <!-- <span class="cursor " style="color: #3485fd;" (click)="newMarker()"> <i class="mdi mdi-map-marker-plus"></i> Agregar marcador </span> -->
        </ul>
    </div>


    <div class="col-lg-6 col-md-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Direcciones del pedido</h4>


                <!-- <span class="cursor" (click)="reorder(0)" style="color: #3485fd; margin-left: 10px;"> <i class="mdi mdi-format-vertical-align-top"></i></span> -->
                <!-- <span class="cursor" (click)="reorder(1)" style="color: #3485fd; margin-left: 10px;"> <i class="mdi mdi-format-vertical-align-bottom"></i></span> -->


                <div [class]="{'d-flex': true, 'flex-row': true,  'cursor': true}" style="margin-bottom: 10px;">
                    <!-- <div class="round align-self-center round-success"> -->
                    <!-- <input type="number" style="width: 50px; background-color: #06d79c;"> -->
                    <!-- </div> -->
                    <div class="m-l-10 align-self-center">
                        <h3 class="m-b-0">
                            <input type="text" class="form-control typeahead" placeholder="Direccion como la conoces"
                                (focus)="preBuscador = true;" (keydown)="buscarDireccion($event)"
                                (change)="this.addresses.length > 2 ? formValid = true : formValid = false;"
                                (keyup)=" formDirValid = false;" [(ngModel)]="dir">


                            <input (change)="this.addresses.length > 2 ? formValid = true : formValid = false;"
                                (focus)="preBuscador = false;"
                                (keyup)=" formDirValid = false;" type="text" class="form-control" placeholder="Barrio"
                                [(ngModel)]="nbh">
                        </h3>
                        <h5 class="text-muted m-b-0">
                            <textarea (change)="this.addresses.length > 2 ? formValid = true : formValid = false;"
                                (focus)="preBuscador = false;"
                                (keyup)=" formDirValid = false;" name="" id="" class="form-control" [(ngModel)]="des"
                                cols="30" rows="2"
                                placeholder="¿Que debe hacer el mensajero en esta dirección?"></textarea>
                        </h5>
                    </div>
                </div>


                <span *ngIf="formDirValid" style="color: red;">
                    Los campos no pueden estar vacios
                </span>
                <br>
                <span class="cursor" *ngIf="positionDir == null" (click)="agregarDir(dir, nbh, des); "
                    style="color: #398bf7; margin-right: 10px;"> <i class="mdi mdi-plus"></i> Agregar dirección --
                    #{{newPositionDir}}</span>

                <span class="cursor" *ngIf="positionDir != null" (click)="editarDir(); positionDir = null;"
                    style="color: #398bf7; margin-right: 10px;"> <i class="mdi mdi-save"></i> Guardar cambios --
                    #{{positionDir +1}}</span>

                <br>

                <span class="cursor"
                    *ngIf="(dir != undefined || nbh != undefined || des != undefined) && (dir != '' || nbh != '' || des != '')"
                    (click)="cancelar()"
                    style="color: red; margin-right: 10px;"> <i class="mdi mdi-close"></i>Cancelar</span>


                <hr>


                <div [class]="{'d-flex': true, 'flex-row': true,  'cursor': true, 'row': true }"
                    style="margin-bottom: 10px;" *ngFor="let domi of addresses">
                    <div class=" round align-self-center round-success">
                        {{indice(domi)}}
                    </div>
                    <div class=" col-md-9 m-l-10 align-self-center">
                        <h3 class="m-b-0">
                            {{domi.address}}
                        </h3>
                        <h5 class="text-muted m-b-0" style="width: 330px  ;">
                            ** {{domi.neighborhood}}
                        </h5>
                        <h5 class="text-muted m-b-0" style="width: 330px  ;">
                            {{domi.description}}
                        </h5>
                    </div>
                    <i class="cursor mdi mdi-close" (click)="eliminarDir(domi)" style="color: red;"></i>
                    <i class="cursor mdi mdi-pencil" (click)="editarDirGet(domi)" style="color: #2445da;"></i>
                </div>

            </div>
        </div>
    </div>







</div>



<div class="row">
    <div class="col-12 text-center">
        <button type="button" (click)="enviarPedido()"
            class="btn btn-success btn-circle btn-xl"><i class="fa fa-save"></i> </button>
    </div>
</div>











<!-- <div class="row">


    <a *ngFor="let item of filial" href="#" class="box label-themecolor col-2">
        <img src="assets/images/logo-text.png" class="box__image" alt="">
    </a>



</div> -->