@import '../node_modules/ngx-toastr/toastr.css';
/* @import "~@ng-select/ng-select/themes/material.theme.css"; */
@import "~@ng-select/ng-select/themes/default.theme.css";
/* @import '../node_modules/primeicons/primeicons.css'; */
/* @import '../node_modules/primeng/resources/themes/saga-blue/theme.css'; */
/* @import '../node_modules/primeng/resources/primeng.min.css'; */

.fast{
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-fill-mode:both;
    animation-fill-mode:both
}

.cursor {
    cursor: pointer;
}

#themecolors .selector, .cursor {
    cursor: pointer;
}


#google-btn {
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
}

.img-avatar {
    height: 200px;
    width: 200px;
}

.w75 {
    width: 75px;
}

.w100 {
    width: 100px;
}

.w140 {
    width: 140px;
}

.w200 {
    width: 200px;
}

.avatar {
    border-radius: 100%;
    width: 30px;
}

.oculto {
    display: none;
}

.fondo-modal {
    background-color: rgba(0, 0, 0, 0.4);
    left: 0px;
    height: 100%;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 9999;
}


.selectedBox {
    /* background-color: blueviolet; */
    color: #fff;
}

.marker {
    background-image: url('assets/images/icon/map-marker-new.png');
    background-size: cover;
    width: 30px;
    height: 30px;
    cursor: pointer;
}


.marker2 {
    background-image: url('assets/images/icon/map-marker-old.png');
    background-size: cover;
    width: 30px;
    height: 30px;
    cursor: pointer;
}