<div class="fondo-modal animated animate__backInUp oculto " [class.oculto]="roleService.ocultarModal">


    <div id="responsive-modal" class="modal fade show" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
        style="display: block;">
        <div class="modal-dialog">
            <form class="modal-content">
                <div class="modal-header text-center">
                    <h4 class="modal-title">Gestio de mis domicilios</h4>
                    <button type="button" class="cursor" (click)="cerrarModal()" class="close" data-dismiss="modal"
                        aria-hidden="true">×</button>
                </div>
                <div class="modal-body" style="overflow: scroll; height: 400px !important;">

                    <div >

                        <div class="form-group">
                            <label for="message-text" 
                                class="control-label">Nombre del rol:</label>
                            <input type="text" class="form-control">
                        </div>

                        <div class="row">
                            <div class="form-group col-4 text-rigth" *ngFor="let rol of roles">
                                <div class="checkbox checkbox-primary ">

                                    <input id="checkbox" type="checkbox" 
                                    (change)="pisoCheck($event)"
                                        style="margin-top: 40px !important; position: relative !important;">
                                    <label for="checkbox">{{rol.description}}</label>

                                </div>
                            </div>

                        </div>

                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" (click)="cerrarModal()" class="btn btn-default waves-effect"
                        data-dismiss="modal">Cancelar</button>
                    <button type="submit"
                        class="btn btn-danger waves-effect waves-light">Cargar domicilio</button>
                </div>
            </form>
        </div>
    </div>



</div>