<div class="row animated fadeIn fast">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                
                <input type="text"
                        class="form-control"
                        style="display: inline-block; width: 93%;"
                        placeholder="Escribe para buscar un usuario..."
                        (keyup)="buscar( txtTermino.value )"
                        #txtTermino/>

                        <a routerLink="gestion/nuevo" style="display: inline-block; margin-left: 5px;" class="btn btn-success btn-circle btn-lg"><i class="fa fa-plus"></i> </a>

            </div>
        </div>
    </div>
</div> 

<div class="row animated fadeIn fast"
     *ngIf="cargando">
    <div class="col-12">
        
        <div class="alert alert-info text-center">
          <h4 class="alert-heading">Cargando</h4>
          <i class="fa fa-spin fa-refresh fa-2x"></i>
          <p class="mb-0">Por favor espere</p>
        </div>

    </div>
</div> 


<div class="row animated fadeIn fast" *ngIf="!cargando">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Total de usuarios ({{totalUsuariosCargados}} / {{ totalUsuarios }})</h4>
                <h6 class="card-subtitle">Usuarios registrados en mi aplicación</h6>
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th class="w100">cedula</th>
                                <th>Nombre</th>
                                <th>Correo</th>
                                <th class="w140">apodo</th>
                                <th class="w100">Rol</th>
                                <th class="w100">Estado</th>
                                <th class="text-nowrap w100">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let usuario of usuarios">
                                <td class="text-center">
                                    <!-- <img [src]="usuario.imagenUrl" 
                                            alt="Avatar de usuario"
                                            class="avatar cursor"
                                            (click)="abrirModal(usuario)"> -->
                                            {{usuario.document}}
                                </td>
                                <td>{{ usuario.name }}</td>
                                <td>{{ usuario.email }}</td>

                                <td>
                                   {{usuario.username}}
                                </td>

                                <td>
                                    <span *ngFor="let item of usuario.roles">
                                        {{item.name}}
                                    </span>
                                    <span *ngIf="!usuario.roles[0]">
                                        No asignado
                                    </span>
                                </td>

                                <td>
                                    <span class="label label-info cursor" (click)="cambiarEstado()" *ngIf="usuario.state == 'Activo'">{{usuario.state}}</span>    
                                    <span class="label label-warning cursor" (click)="cambiarEstado()" *ngIf="usuario.state == 'Inactivo'">{{usuario.state}}</span>    
                                    <!-- <span *ngIf="usuario.google" class="label label-danger">Google</span>     -->
                                    <!-- <span *ngIf="!usuario.google" class="label label-info">Email</span>     -->
                                </td>

                                <td class="text-nowrap text-center">                                  
                                    <a data-toggle="tooltip" 
                                        data-original-title="Borrar"
                                        style="margin: 5px  ;"
                                        class="cursor"
                                        (click)="eliminarUsuario(usuario)">
                                        <i class="fa fa-close text-danger"></i> 
                                    </a>
                                    <a data-toggle="tooltip" 
                                        data-original-title="Editar"
                                        style="margin: 5px  ;"
                                        class="cursor"
                                        (click)="editarUsuario(usuario)">
                                        <i class="fa fa-pencil text-info"></i> 
                                    </a>
                                </td>

                                
                            </tr>
                            
                            <tr *ngIf="usuarios.length == 0" class="text-center">
                                <td colspan="6">
                                    No hay datos que cargar
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div *ngIf="txtTermino.value.length === 0 || usuarios.length == 0" class="text-center">
                   
                    <!-- <div *ngFor="let paginate of page">
                        <button *ngIf="paginate.label == '&laquo; Previous'"  class="btn btn-secondary">{{paginate.label}}</button>
                    </div> -->
                    <button (click)="cambiarPagina(-1)" class="btn btn-secondary">Anteriores</button>
                    &nbsp;
                    <button (click)="cambiarPagina(1)" class="btn btn-secondary">Siguientes</button>
                </div>

            </div>
        </div>
    </div>
</div>