<div class="row">

    <div class="col-md-12">
        <div class="card card-body">
            <h3 class="box-title m-b-0 text-center">{{gestion}} usuario</h3>
            <!-- <p class="text-muted m-b-30 font-13"> Bootstrap Elements </p> -->
            <div class="row">
                <div class="col-sm-12 col-xs-12">
                    <form [formGroup]="usuarioForm"
                    (ngSubmit)="crearUsuario()">
                        <div class="form-group">
                            <label>Nombre completo</label>
                            <input type="text" class="form-control" formControlName="name"
                                placeholder="Nombre completo">
                        </div>
                        <div class="form-group">
                            <label>Email</label>
                            <input type="email" class="form-control" formControlName="email" placeholder="Email">
                        </div>
                        <div class="form-group">
                            <label>Cedula</label>
                            <input type="text" class="form-control" formControlName="document" placeholder="Cedula">
                        </div>
                        <div class="form-group">
                            <label>Nombre de usuario</label>
                            <input type="text" class="form-control" formControlName="username" placeholder="Nombre de usuario">
                        </div>
                        <div class="form-group">
                            <label>Telefono</label>
                            <input type="text" class="form-control" formControlName="phone" placeholder="Telefono">
                        </div>
                        <div class="form-group">
                            <label>Rol<span *ngIf="usuarioForm.get('role').value == 0">: Este usuario no tiene rol asignado</span></label>
                            <select class="form-control" formControlName="role">
                                <option *ngFor="let rol of roles" [value]="rol.id">{{rol.name}}</option>
                            </select>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-12">
                                <div class="radio radio-primary p-t-0">
        
                                    <input id="active" 
                                            type="radio"
                                            formControlName="state"
                                            value="Inactivo"
                                            >
        
                                    <label for="active"> Inactivo </label>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="radio radio-primary p-t-0">
        
                                    <input id="inactive" 
                                            type="radio"
                                            formControlName="state"
                                            value="Activo"
                                            >
        
                                    <label for="inactive"> Activo </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group text-center">
                            <button [disabled]="formSubmitted || usuarioForm.invalid" type="submit" class="btn btn-success waves-effect waves-light m-r-10">Guardar</button>
                            <a routerLink="/admin" class="btn btn-inverse waves-effect waves-light">Cancelar</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>