<div class="row" *ngIf="conectado == false">
    <div
        [class]="{'col-12': true, 'text-center': !conectado, 'text-left': conectado, 'animate__animated': true, 'animate__shakeX': true}">


        <button *ngIf="conectado == false" (click)="OnOff()" type="button"
            [class]="{'btn': true, 'btn-success': conectado, 'btn-secondary': !conectado, 'btn-circle': true, 'btn-xl': !conectado, 'btn-lg': conectado}"><i
                class="mdi mdi-power"></i>
        </button>



        <br>
        <span *ngIf="conectado == false">Conectarme</span>
    </div>
</div>


<!-- Row -->
<div class="row" *ngIf="conectado == true">

    <!-- Column -->
    <div class="col-lg-4 col-xlg-3 col-md-5">
        <div class="card">


            <div class="card-body text-left inbox-panel">
                <!-- <small class="text-muted">Email address </small> -->
                <ul class="list-group list-group-full">

                    <li [class]="{'list-group-item': true, 'cursor': true, 'active': section == 1 ? true : false }"
                        (click)="section = 1">
                        <a href="javascript:void(0)">
                            <i class="mdi mdi-library-books"></i>
                            Pedidos
                        </a>
                        <span class="badge badge-success">{{totalPedidos}}</span>
                    </li>

                    <li [class]="{'list-group-item': true, 'cursor': true, 'active': section == 2 ? true : false }"
                        (click)="section = 2">
                        <a href="javascript:void(0)">
                            <i class="mdi mdi-library-books"></i>
                            Pedidos aceptados
                        </a>
                        <span class="badge badge-success">{{totalPedidos}}</span>
                    </li>
                    <li [class]="{'list-group-item': true, 'cursor': true, 'active': section == 3 ? true : false }"
                        (click)="section = 3">
                        <a href="javascript:void(0)">
                            <i class="mdi mdi-library-books"></i>
                            Settings
                        </a>
                    </li>

                </ul>
            </div>

            <div>
                <hr>
            </div>

            <div class="card-body">
                <div class="m-t-30 text-center">
                    <!-- <div class="row text-center justify-content-md-center">
                        <div class="col-4"><a href="javascript:void(0)" class="link"><i
                                    class="mdi mdi-library-books"></i>
                                <font class="font-medium">{{totalPedidos}}</font>
                            </a></div>
                        <div class="col-4"><a href="javascript:void(0)" class="link"><i class="icon-picture"></i>
                                <font class="font-medium">54</font>
                            </a></div>
                    </div> -->
                    <div class="row text-center justify-content-md-center">
                        <button (click)="OnOff()" type="button"
                            [class]="{'btn': true, 'btn-success': conectado, 'btn-secondary': !conectado, 'btn-block': true, 'btn-xl': !conectado, 'btn-lg': conectado}"><i
                                class="mdi mdi-power"></i> </button>
                        <span>Desconectarme</span>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- Column -->



    <!-- Column -->
    <div class="col-lg-8 col-xlg-9 col-md-7">
        <div class="card">


            <div class="tab-content" style="overflow: scroll; height: 450px;">


                 -

                <div [class]="{'tab-pane': true, 'active': section == 1 ? true : false}" *ngIf="section == 1">
                    <div class="card-body" *ngFor="let pedido of pedidos">
                        <div class="profiletimeline">


                            <div class="sl-item">



                                <div class="sl-left">
                                    <img src="assets/images/users/2.jpg" alt="user" class="img-circle" />
                                </div>


                                <div class="float-right">
                                    <!-- <span class="sl-date"> 
                                        <span class="badge  badge-success"> Recibiras: </span> $
                                        {{pedido.pay}}
                                    </span> -->
                                    <br>
                                    <span class="sl-date"> <span class="badge  badge-primary"> Declaracion: </span> $
                                        {{pedido.order.base_discount}}
                                    </span>
                                    <br>
                                    <!-- <span class="sl-date" *ngIf="pedido.relaunching != null"> 
                                        <span class="badge  badge-warning"> 
                                            Bono
                                        </span> 
                                            $ {{pedido.relaunching}}
                                    </span> -->
                                    <br>
                                    <span class="sl-date"> 
                                        <span class="badge  badge-info">
                                            {{pedido.payment_method}}
                                            <!-- <i [class]="{'fas': true, 'fas-credit-card': pedido.payment_method == 'PAGO EN LINEA' ? true : false, 'fas-money': pedido.payment_method == 'EFECTIVO' ? true : false, 'fas-fax': pedido.payment_method == 'DATAFONO' ? true : false }"></i> -->
                                        </span>
                                    </span>
                                </div>


                                <div class="sl-right">
                                    <div>


                                        <a href="#" class="link">{{pedido.order.customer}}</a>

                                        <br>

                                        <span class="sl-date"> 5 minutes ago </span>

                                        <div class="m-t-20 row">
                                            <div class="col-md-12 col-xs-12">


                                                <span *ngFor="let dir of pedido.directions">
                                                    <i style="color: #000;" class="mdi mdi-map-marker"></i> 
                                                    {{dir.address}} 
                                                    <br>
                                                </span>


                                                <br>
                                                
                                                <hr>

                                                <div *ngFor="let dirdesc of pedido.directions">

                                                        <h6> {{dirdesc .address}}</h6>
                                                        <p>
                                                            {{dirdesc .description}}
                                                        </p>

                                                </div>


                                                <button (click)="takeOrder(pedido);" style="margin-left: 2px;"
                                                    class="btn btn-success"> Aceptar pedido </button>
                                                <button (click)="takeNoOrder(pedido);" style="margin-left: 2px;" class="btn btn-danger"> Rechazar
                                                    pedido 
                                                </button>


                                            </div>
                                        </div>
                                        
                                        <div class="like-comm m-t-20">
                                            <span> {{pedido.delivery_type}} - {{pedido.company}}</span>
                                            <!-- <span *ngIf="pedido.relaunching != null" style="margin-left: 5px;" class="badge badge-success"> <i style="font-size: 15px;" class="mdi mdi-loop"></i> </span> -->
                                            <span *ngIf="pedido.order.retornodeli == 1"  style="margin-left: 5px;" class="badge badge-success"> <i style="font-size: 15px;" class="mdi mdi-loop"></i> </span>
                                            <!-- <a href="javascript:void(0)" class="link m-r-10">2 comment</a> 
                                            <a href="javascript:void(0)" class="link m-r-10">
                                                <i class="fa fa-heart text-danger"></i> 5 Love
                                            </a> -->
                                        </div>


                                    </div>
                                </div>



                            </div>

                            <hr>


                        </div>
                    </div>
                </div>

                <div [class]="{'tab-pane': true, 'active': section == 2 ? true : false}" *ngIf="section == 2">
                    <div class="card-body">
                        <div class="profiletimeline">


                            <div class="sl-item">



                                <div class="sl-left">
                                    <img src="../assets/images/users/2.jpg" alt="user" class="img-circle" />
                                </div>


                                <div class="sl-rigth">
                                    <span class="sl-date"> <span class="badge  badge-success">Domicilio: </span> $ 3.500
                                    </span>
                                    <span class="sl-date"> <span class="badge  badge-success">Efectivo: </span> $ 56.500
                                    </span>
                                </div>


                                <div class="sl-right">
                                    <div>
                                        <a href="#" class="link"> John Doe -- Quien pidio el domicilio</a>
                                        <span class="sl-date"> 5 minutes ago </span>
                                        <div class="m-t-20 row">



                                            <!-- <div class="col-md-3 col-xs-12">

                                                <img src="../assets/images/big/img1.jpg" alt="user" class="img-responsive radius" />

                                            </div> -->
                                            <div class="col-md-9 col-xs-12">
                                                <span>
                                                    <i style="color: #000;" class="mdi mdi-map-marker"></i> Direccion de
                                                    encargo
                                                </span>
                                                <br>
                                                <span>
                                                    <i style="color: #000;" class="mdi mdi-map-marker"></i> Direccion de
                                                    entrega
                                                </span>
                                                <hr>
                                                <p>
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec
                                                    odio. Praesent libero. Sed cursus ante dapibus diam.
                                                </p>
                                                <button style="margin-left: 5px;" class="btn btn-danger"> Cancelar
                                                    pedido </button>
                                            </div>
                                        </div>
                                        <div class="like-comm m-t-20">
                                            <span>Domicilio - Farmatodo colombia</span>
                                            <!-- <a href="javascript:void(0)" class="link m-r-10">2 comment</a> 
                                            <a href="javascript:void(0)" class="link m-r-10">
                                                <i class="fa fa-heart text-danger"></i> 5 Love
                                            </a> -->
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <hr>


                        </div>
                    </div>
                </div>

                <div [class]="{'tab-pane': true, 'active': section == 3 ? true : false}" *ngIf="section == 3">
                    <div class="card-body">
                        <form class="form-horizontal form-material">
                            <div class="form-group">
                                <label class="col-md-12">Full Name</label>
                                <div class="col-md-12">
                                    <input type="text" placeholder="Johnathan Doe"
                                        class="form-control form-control-line">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="example-email" class="col-md-12">Email</label>
                                <div class="col-md-12">
                                    <input type="email" placeholder="johnathan@admin.com"
                                        class="form-control form-control-line" name="example-email" id="example-email">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-12">Password</label>
                                <div class="col-md-12">
                                    <input type="password" value="password" class="form-control form-control-line">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-12">Phone No</label>
                                <div class="col-md-12">
                                    <input type="text" placeholder="123 456 7890"
                                        class="form-control form-control-line">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-12">Message</label>
                                <div class="col-md-12">
                                    <textarea rows="5" class="form-control form-control-line"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-12">Select Country</label>
                                <div class="col-sm-12">
                                    <select class="form-control form-control-line">
                                        <option>London</option>
                                        <option>India</option>
                                        <option>Usa</option>
                                        <option>Canada</option>
                                        <option>Thailand</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <button class="btn btn-success">Update Profile</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <div [class]="{'tab-pane': true, 'active': section == 11 ? true : false}" *ngIf="section == 11">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-3 col-xs-6 b-r"> <strong>Nombre</strong>
                                <br>
                                <p class="text-muted">Johnathan Deo</p>
                            </div>
                            <div class="col-md-3 col-xs-6 b-r"> <strong>Direccion</strong>
                                <br>
                                <p class="text-muted">Calle 18 c# 36 - 44</p>
                            </div>
                            <div class="col-md-3 col-xs-6 b-r"> <strong>Barrio</strong>
                                <br>
                                <p class="text-muted">Villa luz</p>
                            </div>
                            <div class="col-md-3 col-xs-6"> <strong>Domicilio</strong>
                                <br>
                                <p class="text-muted">$ 3.500</p>
                            </div>
                        </div>
                        <hr>
                        <h4 class="font-medium m-t-30">Descricción del pedido</h4>

                        <p class="m-t-30">Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim
                            justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis
                            pretium. Integer tincidunt.Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate
                            eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim.</p>
                        <p>

                        <h4 class="font-medium m-t-30">Skill Set</h4>
                        <hr>
                        <h5 class="m-t-30">Wordpress <span class="pull-right">80%</span></h5>
                        <div class="progress">
                            <div class="progress-bar bg-success" role="progressbar" aria-valuenow="80" aria-valuemin="0"
                                aria-valuemax="100" style="width:80%; height:6px;"> <span class="sr-only">50%
                                    Complete</span> </div>
                        </div>
                        <h5 class="m-t-30">HTML 5 <span class="pull-right">90%</span></h5>
                        <div class="progress">
                            <div class="progress-bar bg-info" role="progressbar" aria-valuenow="90" aria-valuemin="0"
                                aria-valuemax="100" style="width:90%; height:6px;"> <span class="sr-only">50%
                                    Complete</span> </div>
                        </div>
                        <h5 class="m-t-30">jQuery <span class="pull-right">50%</span></h5>
                        <div class="progress">
                            <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="50" aria-valuemin="0"
                                aria-valuemax="100" style="width:50%; height:6px;"> <span class="sr-only">50%
                                    Complete</span> </div>
                        </div>
                        <h5 class="m-t-30">Photoshop <span class="pull-right">70%</span></h5>
                        <div class="progress">
                            <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="70" aria-valuemin="0"
                                aria-valuemax="100" style="width:70%; height:6px;"> <span class="sr-only">50%
                                    Complete</span> </div>
                        </div>
                    </div>
                </div>


            </div>


        </div>
    </div>
    <!-- Column -->


</div>
<!-- Row -->


<!-- // FUNCIONES DEL SIGUIENTE NIVEL -->
<!-- <div class="row" *ngIf="conectado == 'equipando'">
    <div class="col-12">
        <h3>Equipando</h3>
    </div>
    <div [class]="{'col-12': true, 'text-center': true, 'animate__animated': true, 'animate__shakeX': true}">


        <button style="margin-left: 3px;" (click)="continuar()" type="button"
            [class]="{'btn': true, 'btn-success': true, 'btn-md': true}">
            Equipar
        </button>

        <button style="margin-left: 3px;" (click)="cancelar()" type="button"
            [class]="{'btn': true, 'btn-danger': true, 'btn-md': true}">
            Cancelar
        </button>


    </div>
</div> -->





<!-- // FUNCIONES DEL SIGUIENTE NIVEL -->
<!-- <div class="row  text-center" *ngIf="conectado == 'equipando'">


    <div class="col-4"></div>
    <div class="col-6">


        <div class="row">

            <div class="col-12" *ngFor="let item of equipo">

                <div *ngIf="item[0].category.name == 'Moto'">
                    <h3 class="text-left">{{item[0].category.name}}</h3>

                    <div class="radio radio-primary pull-left p-t-0  text-left" *ngFor="let op of item">
                        <input [(ngModel)]="moto" style="margin-left: 3px;" [id]="op.name" type="radio" [value]="op.id"  [name]="op.category.name" 
                            class="filled-in chk-col-light-blue">
                        <label [for]="op.name"> {{op.description}} </label>
                    </div>
                </div>

                <div *ngIf="item[0].category.name == 'Bolso'">
                    <h3 class="text-left">{{item[0].category.name}}</h3>

                    <div class="radio radio-primary pull-left p-t-0  text-left" *ngFor="let op of item">
                        <input [(ngModel)]="bolso" style="margin-left: 3px;" [id]="op.name" type="radio" [value]="op.id"  [name]="op.category.name" 
                            class="filled-in chk-col-light-blue">
                        <label [for]="op.name"> {{op.description}} </label>
                    </div>
                </div>

                <div *ngIf="item[0].category.name == 'Atuendo'">
                    <h3 class="text-left">{{item[0].category.name}}</h3>

                    <div class="radio radio-primary pull-left p-t-0  text-left" *ngFor="let op of item">
                        <input [(ngModel)]="atuendo" style="margin-left: 3px;" [id]="op.name" type="radio" [value]="op.id"  [name]="op.category.name" 
                            class="filled-in chk-col-light-blue">
                        <label [for]="op.name"> {{op.description}} </label>
                    </div>
                </div>

            </div>
            <hr>

            <div class="col-12">
                <h3 class="  text-left">Base</h3>
                <div class=" pull-left p-t-0  text-left">
                    <input currencyMask id="base" type="text" class="form-control" [(ngModel)]="base" placeholder="$" >
                </div>
            </div> 


        </div>


    </div>
</div> -->
